.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .mat-h2 {
    margin-bottom: 20px;
  }
  
  .input-section {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .response-section {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .info-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .info-label {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .new-coords {
    font-style: italic;
    margin-top: 10px;
  }
  
  .visibility-result {
    margin-top: 15px;
    font-size: 18px;
  }
  
  .warning-message {
    margin-top: 15px;
    font-size: 18px;
    color: red;
    animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .car-icon {
    font-size: 4rem; /* Example size */
    color: blue;    /* Example color */
    transition: transform 0.5s ease; /* Add transition property */
    transform: scale(0.5); /* Start with a smaller size */
  }
  
  .car-icon.loaded {
    transform: scale(1); /* Transition to full size */
  }
  